
.jumbotron{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image:url("/images/pizza.png");
    height:346px;
    margin-left:150px;
    background-size:cover;
}

.jumbotron-overlay-text{
    --bs-bg-opacity: .6;
    flex-basis: 100%;
    text-align: center;
    font-size: 25px;
}

#card-header-unique{
    background-color:#0d6efd;
    color:white;
    padding: 8px;
}

#signup-icon{
    margin-left:550px;
}