* {
    box-sizing: border-box;
    color: black;
    font-size:22px;
}

a{
    display:inline-block;
    font-family: 'Work Sans', sans-serif;
    margin: 0 4px;
}

a:hover{
    color: blue;
}

ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    margin:0;
    padding:0;
}

ul > img {

}

.navbar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    border: darkgrey 1px solid;
}
