* {
    box-sizing: border-box;
    color: black;
    font-size:22px;
}

a{
    display:inline-block;
    border:0;
    margin:0;
    padding:30px 5px;
    font-family: 'Work Sans', sans-serif;
}

a:hover{
    color: blue;
}

.navbar{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: gray;
    margin:auto;
}

.navbar > *{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo-holder{
    font-family: 'Montserrat', sans-serif;
    flex-basis:50%;
    font-size:3em;
    padding:.2em 0;
}

.extra-holder{
    flex-basis:30%;
    justify-content: flex-end;
}