
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.fancy-header {
    color: purple;
    text-decoration: underline;
    text-align: center;
}

.more-fancy-headers {
    color: orange;
    text-decoration: underline;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-image: url("/images/wallpapersden.com_linux-retro_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    background-color: black;
}

ul>li{
    list-style-type: square;
}

table  {
    padding: 5px;
}

td, tr{
    padding: 10px;
}

a:link {
    color: orange;
}

a:hover {
    color: pink;
}

a:active {
    color: black;
}

a:visited{
    color: white;
}