:root {
    --light-bg: #FFF;
    --link-color: #3B94D9;
    --main-bg: #E6ECF0;
    --main-link-color: #848487;
    --separator-color: #DDD;
}

* {
    box-sizing: border-box;
}

body, html {
    background-color: var(--main-bg);
    font-family: Arial, Ubuntu, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}

a {
    color: var(--link-color);
}

.container {
    margin: 2em;
}
.media{
    background-color: var(--light-bg);
    border-bottom: 1px solid var(--separator-color);
    overflow: auto;
    padding: .5em;
    width: 100%;
}

.media-image {
    float: left;
    margin-top: 3px;
    width: 40px;
}

.media-body {
    float: left;
    width: calc(100% - 40px);
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--link-color);
}

.nav-item {
    display: inline-block;
    padding: 1.5em;
}

.profile {
    background: var(--light-bg);
    height: 75px;
}

.profile-header {
    background-color: var(--light-bg);
}

.profile-form {
    background-color: var(--light-bg);
    float: right;
}

.profile-image {
    position: absolute;
    top: 240px;
}

.profile-items{
    list-style-type: none;
    padding: 0px;
}

.profile-entry{
    margin: 3px;
}

.btn {
    background: var(--light-bg);
    border-radius: 5px;
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    font-weight: bold;
    padding: 8px;
}

.btn-large {
    font-size: 1.3em;
    padding: 10px;
    position: relative;
    top: 25px;
}

.img-circle {
    border-radius: 100%;
    border: 9px solid var(--light-bg);
}

.text-right {
    color: var(--light-bg);
    height: 100px;
    position: relative;
    text-align: right;
}

.text-muted {
    color: var(--main-link-color);
}

.timeline {
    background-color: var(--light-bg);
    left: 360px;
    position: absolute;
    top: 400px;
}

.who-to-follow {
    background-color: var(--light-bg);
    left: 1140px;
    position: absolute;
    top: 400px;
    width: 270px;
}


